/* CSS which you need for blurred box */
body {
  background: url("images/liz.jpeg") no-repeat;
  /* Keep the inherited background full size. */
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#weather-app {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 0;
  margin-right: 0;
  max-width: 900px;
  width: 600px;
  border: none;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px 6px rgba(0, 0, 0, 0.3);
}

#cheddar {
  font-weight: bold;
  border: 3px #4a5c8e solid;
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  text-align: center;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}

h1,
h2,
p {
  text-align: center;
  font-family: "Oswald", sans-serif;
}
form {
  border: white;
}
.fa-sun {
  color: yellow;
  font-size: 35px;
}
p {
  font-size: 20px;
}
.card-title {
  font-size: 25px;
  font-weight: bold;
}
#date {
  font-size: 20px;
}
.row {
  text-align: center;
  font-family: "Oswald", sans-serif;
}
.fa-cloud-sun {
  color: grey;
  font-size: 35px;
}
.fa-cloud-sun-rain {
  color: orange;
  font-size: 35px;
}
img {
  width: 275px;
  display: block;
  text-align: center;
  margin: 0 auto;
  border-radius: 40px;
  border: none;
}
#current-weather,
#cheddar-image,
#forecast {
  padding: 0;
  margin: 0;
  border: none;
  font-size: 15px;
}
#forecast {
  width: 650px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
#image-style {
  border: none;
  background-color: transparent;
  padding-right: 0;
  padding-left: 0;
}

.btn-primary {
  color: #4a5c8e;
  background-color: #4a5c8e;
  font-family: "Oswald", sans-serif;
}
.form-control {
  font-family: "Oswald", sans-serif;
}
.search {
  border-radius: 10px;
}
#location {
  color: #5dc2e0;
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
}

a {
  text-decoration: none;
}
#git-hub {
  font-size: 20px;
  color: black;
  text-decoration: none;
}
#git-hub-link {
  text-decoration: underline;
  color: black;
  font-size: 20px;
}
#artwork {
  font-size: 15px;
}
